<section id="posts-list">
    <div class="container">
        <br>
        <h4>
            <br/><p>Tous les billets du blog :</p>
        </h4>

    {% for key, post in posts %}
        <div class="news">
            <h3>
                <br/>
                {{ post.title }}
                <em class="post-date">le {{ post.last_modif_date_fr }} par {{ post.author_first_name }} {{ post.author_last_name }}</em>
            </h3>
            
            <p>
                {{ post.intro|raw }}
                <br />
                <a href="index.php?action=postAdmin&id={{ post.id }}">(voir plus)</a>
                {% if show_admin_links %}
                <a href="index.php?action=postMod&id={{ post.id }}" class="admin-link">{modifier}</a> <a href="index.php?action=postDel&id={{ post.id }}" class="admin-link" 
                onclick="return confirm('Supprimer ce billet ?');">{supprimer}</a>
                {% endif %}
                <hr/>

            </p>
        </div>
    {% endfor %}
    {{ pagination|raw }}
</section>