<section class="first-section" id="single-post">
    <div class="container">
        <p><a href="index.php?action=listPosts">Retour à la liste des billets</a></p>

        <div class="news">
            <form name="modifPost" id="modifPost" action="index.php?action=saveModifiedPost" method="post">
                <input type="hidden" name="token" id="token" value="{{ token }}" />
                <input type="hidden" id="postId" name="postId" value="{{ post.id }}" />
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Titre</label>
                        <input class="form-control" id="title" name="title" type="text" placeholder="Titre" value="{{ post.title }}" required />
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Prénom de l'auteur</label>
                        <input class="form-control" id="author_first_name" name="author_first_name" type="text" placeholder="Prénom de l'auteur" value="{{ post.author_first_name }}" required />
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Nom de l'auteur</label>
                        <input class="form-control" id="author_last_name" name="author_last_name" type="text" placeholder="Nom de l'auteur" value="{{ post.author_last_name }}" required />
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Intro (châpo)</label>
                        <textarea class="form-control" id="intro" name="intro" rows="5" placeholder="Intro">{{ post.intro|raw }}</textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                        <label>Contenu</label>
                        <textarea class="form-control" id="content" name="content" rows="5" placeholder="Contenu">{{ post.content|raw }}</textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div>
                    <input type="button" value="valider" onclick="if(check_not_empty()) this.form.submit();">
                </div>
            </form>
            
            <em class="post-date">le {{ post.last_modif_date_fr }} par {{ post.author_first_name }} {{ post.author_last_name }}</em>
            
        </div>
    </div>
</section>
<script type="text/javascript" src="public/js/custom.js"></script>
<script type="text/javascript" src="vendor/tinymce/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinyMCE.init({
        language : "fr_FR",
        theme : "modern",
        mode : "textareas",
        plugins : "emoticons",

        theme_advanced_buttons1 : "bold,italic,underline,strikethrough,separator,emotions,image,link,unlink,separator, undo,redo,separator,code,cleanup,separator,bullist,numlist", 
        theme_advanced_buttons2 : "", 
        theme_advanced_buttons3 : ""
    });
</script>
